@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap");

::-webkit-scrollbar {
  width: 0px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.text h4 {
  padding-top: 1rem;
  padding-bottom: 2rem;
}


body {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(#111, #071a1a);
  color: #fff;
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}




/* Buttons */
.btn {
  cursor: pointer;
  margin-top: 2rem;
  padding: 10px 28px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #FFCF35;
  background: #000;
  display: inline-block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.btn:hover {
  background: #ffffff;
  transition: 0.3s linear;
  color: #000;
}

/* End Buttons */

/* Header */
.text {
  width: 60%;
}

.visual {
  padding-top: 5rem;
  width: 45%;
}

.visual img {
  width: 100%;
}

.header h1 {
  font-size: 70px;
  font-weight: 700;
}

.header h1 span {
  color: #000;
}

.donutchart {
  width: 600px !important;
  padding-bottom: 5rem;

}

/* End Header */