.main-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(98, 98, 98, 0.8), rgba(98, 98, 98, 0.8)), url("../../images/danielle-cerull.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.modify-details {
    margin-top: 5rem;
    width: 24%;
    height: 82%;
    background: #313030;
    color: #F4F4F4;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.box {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}

h3 {
    text-align: center;
}

.subscription-details {
    margin-top: 5rem;
    cursor: pointer;
    width: 24%;
    height: 82%;
    background: #313030;
    color: #F4F4F4;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.heading h3 {
    color: #F4F4F4;
    margin-top: 7rem;
    padding: 1.2rem 12rem 1.2rem 12rem;
    background: #313030;
    border-radius: 1rem;
}

.main-box button {
    margin-top: 5rem;
    font-weight: 900;
    border-radius: 0.8rem;
    padding: 0.8rem 8rem 0.8rem 8rem;
    border: none;
    color: #FFEB00;
    background: #000;
    font-size: 16px;
    cursor: pointer;
}